@import "tailwindcss";

/* @theme {
	--color-primary: "#011627";
	--color-secondary: "#00c896";
} */

@layer components {
	.pulse-shadow {
		animation: pulse-shadow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
		box-shadow: 0 0 10px rgba(0, 200, 150, 0.4);
	}

	@keyframes pulse-shadow {
		0%,
		100% {
			box-shadow: 0 0 10px rgba(0, 200, 150, 0.4);
		}
		50% {
			box-shadow: 0 0 20px rgba(0, 200, 150, 0.6);
		}
	}
}
